adf-pipelines-ds-ls/copy-data-db-adls/pipeline/copyCustDataG500.json
{
    "name": "copyCustDataG500",
    "properties": {
        "activities": [
            {
                "name": "CustDataCount",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT COUNT(*) AS recordCount FROM Customer",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "CustDataTable",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "OnRecordCountCheck",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "CustDataCount",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(activity('CustDataCount').output.firstRow.recordCount,500)\r\n",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "CopyCustomerData",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "CustDataTable",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "Task3CustomerData",
                                    "type": "DatasetReference"
                                }
                            ]
                        },
                        {
                            "name": "ExecuteProductPipeline",
                            "type": "ExecutePipeline",
                            "dependsOn": [
                                {
                                    "activity": "CopyCustomerData",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "Task4ProductDataPipeline",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": false
                            }
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-07-22T19:05:51Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}